exportPattern("^[[:alpha:]]+")
import(gamlss)
import(splines)
importFrom("splines", "splineDesign")
importFrom("graphics", "legend", "lines")
importFrom("stats", "as.formula", "model.matrix")
S3method(print, gamlssReport)
S3method(plot, gamlssReport)
S3method(predict, gamlssReport)
